/* .carousel-inner {
  height: 100vh;
} */
.custom-carousel-caption {
  position: absolute;
  bottom: 50%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #130202; /* Text color */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Background color with transparency */
  padding: 20px;
  border-radius: 5px; /* Rounded corners */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
}

.custom-carousel-caption h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.custom-carousel-caption p {
  font-size: 16px;
  margin-bottom: 20px;
}

.custom-carousel-caption button {
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  transition: background-color 0.3s ease;
}

.carousel-inner img {
  filter: brightness(100%); /* Adjust the percentage as needed */
}

.zoom-on-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* team */

.member-content .social-content li a {
  display: inline-block;
  padding: 0;
  min-width: 40px;
  height: 40px;
  font-size: 21px;
  line-height: 40px;
  color: rgb(13, 110, 253);
  border-radius: 5px;
  box-shadow: 0 3px 0 0 transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.member-content .details {
  margin: 20px 0 0 20px;
  position: relative;
  padding: 30px;
  padding-left: 100px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.member-content {
  margin-bottom: 30px;
}

.member-thumb {
  text-align: center;
}

.member-thumb h4 {
  font-size: 21px;
  margin: 10px 0;
}

.member-thumb .title {
  font-size: 18px;
  margin: 10px 0;
  color: rgb(13, 110, 253);
}

.member-content:hover .details {
  background: rgb(13, 110, 253);
  color: #fff;
}

.member-content.right .details {
  margin: 20px 20px 0 0;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.08);
}

.member-content .details:after {
  display: block;
  content: "";
  position: absolute;
  left: -18px;
  top: 30px;
  width: 0px;
  height: 0px;
  background: transparent;
  border: 20px solid transparent;
  border-left: 20px solid #f5f5f5;
  box-shadow: -3px 0 0 rgba(0, 0, 0, 0.08);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-left-color 0.3s ease-out;
  transition: border-left-color 0.3s ease-out;
}

.member-content.right .details:after {
  position: absolute;
  left: auto;
  right: -17px;
  border-left: 20px solid transparent;
  border-right: 20px solid #f5f5f5;
  box-shadow: 3px 0 0 0 rgba(0, 0, 0, 0.08);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-right-color 0.3s ease-out;
  transition: border-right-color 0.3s ease-out;
}

.member-content:hover .details:after {
  border-left-color: rgb(13, 110, 253);
}

.member-content.right:hover .details:after {
  border-left-color: transparent;
  border-right-color: rgb(13, 110, 253);
}

.member-content .details:before {
  display: block;
  content: "\201D";
  position: absolute;
  left: 20px;
  top: 50px;
  font-size: 120px;
  font-weight: 800;
  line-height: 60px;
  font-family: Arial;
  color: rgb(13, 110, 253);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.member-content:hover .details:before {
  color: #fff;
}

.member-content .social-content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member-content .social-content li {
  display: inline;
  text-align: center;
  margin: 0 2px;
}

.member-content:hover .social-content li a {
  color: #fff;
}

.member-content .social-content li a:hover {
  background: #fff;
  color: rgb(132, 115, 242);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.05);
}

/* contact us */
#contact {
  background-color: rgb(245, 245, 245);
}
.contact-area {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .contact {
    margin-bottom: 60px;
  }
}

.contact input {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #232434;
  font-size: 16px;
  height: 60px;
  padding: 10px;
  width: 100%;
  font-family: "poppins", sans-serif;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact textarea {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #232434;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: "poppins", sans-serif;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact input:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #232434;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

.contact textarea:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #232434;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

.form-control::placeholder {
  color: #232434;
  opacity: 1;
}

.btn-contact-bg {
  border-radius: 30px;
  color: #fff;
  outline: medium none !important;
  padding: 15px 27px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #0d6efd;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  width: 100%;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
  background: #4169e1;
  color: #fff;
}

/*START ADDRESS*/

.single_address {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .single_address {
    padding-left: 0px;
  }
}

.single_address i {
  background: #f6f6f6;
  color: #0d6efd;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 14px;
  font-size: 22px;
  -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single_address:hover i {
  background: #0d6efd;
  color: #fff;
}

.single_address h4 {
  font-size: 18px;
  margin-bottom: 0px;
  overflow: hidden;
  font-weight: 600;
}

.single_address p {
  overflow: hidden;
  margin-top: 5px;
}

.section-title h1 {
  font-size: 44px;
  font-weight: 500;
  margin-top: 0;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.section-title p {
  padding: 0 10px;
  width: 70%;
  margin: auto;
  letter-spacing: 1px;
}
.section-title {
  margin-bottom: 60px;
}
.text-center {
  text-align: center !important;
}

/* Button styling */
.navbar-dark .navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff;
}

/* ServiceSection.css */
.service-card {
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px; /* Add some bottom margin to create space between cards */
}

.service-card:hover {
  transform: scale(1.1);
}

.card {
  position: relative;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 28px 5px rgba(64, 64, 64, 0.09);
  box-shadow: 0 19px 28px 5px rgba(64, 64, 64, 0.09);
  content: "";
  z-index: -1;
}
a.card {
  text-decoration: none;
}
.box-shadow {
  -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.bg-white {
  background-color: #fff !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.d-block {
  display: block !important;
}
img,
figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.card-text {
  padding-top: 12px;
  color: #000000;
}

.text-sm {
  font-size: 12px !important;
}
p,
.p {
  margin: 0 0 16px;
}

.card-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.head-icon {
  margin-top: 18px;
  color: rgb(0, 98, 255);
}

/* Add this CSS to adjust spacing after the carousel */
@media (max-width: 767px) {
  #carouselExampleCaptions {
    margin-bottom: -10px; /* Adjust this value as needed */
  }

  .service-card {
    margin-bottom: 15px; /* Adjust this value as needed */
  }
}
body {
  background-color: #fbfaff;
}

/* App.css */
.double-header {
  /* background-image: url("./banner1.jpg"); Set the carousel image as the background */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Ensures that the background image does not scroll with content */
}

.double-header nav {
  background-color: #232434;

  position: absolute;
  width: 100%;
  /* margin-bottom: 10px; */
  top: 0;
  z-index: 999; /* Ensure navbar is on top of the background image */
  /* background-color: transparent !important; */
}

.contact-bar {
  /* background-color: transparent !important; */
  padding: 10px 0; /* Padding for spacing */
  width: 100%; /* Full width */
  z-index: 998; /* Ensure it's below the Navbar */
  margin-top: 56px; /* Adjust according to the height of your Navbar */
}

.carousel-zoom .carousel-item.active {
  opacity: 1;
}

.carousel-zoom .carousel-item.active img {
  width: 100%;
  height: auto; /* Allow the height to adjust based on the image's aspect ratio */
  object-fit: cover; /* Ensure the image covers the entire carousel item */
  transform: scale(1.1); /* Zoom out effect */
}

/* custom-styles.css */

/* custom-styles.css */

body {
  font-family: "Roboto", sans-serif; /* Use Roboto font for the entire body */
  background-color: #fff;
}

.card-title {
  font-size: 1.5rem; /* Increase font size for card titles */
  color: #333; /* Set text color */
  margin-bottom: 0.5rem; /* Add spacing below the card title */
}

.card-text {
  font-size: 1rem; /* Set font size for card text */
  color: #666; /* Set text color */
  line-height: 1.5; /* Set line height for better readability */
  margin-bottom: 1rem; /* Add spacing below the card text */
}

/* Add more custom styles as needed */
